.title {
  padding-top: 30px;
  color: white;
}

.card {
  border: solid 1px rgba(0, 0, 0, 0.05);
  cursor: context-menu;
  height: 500px;
  width: 300px;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 80px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(202, 202, 202);
}

.card:hover {
  box-shadow: 0 0 12px 3px rgba(26, 39, 99, 0.247);
}

.card-body {
  margin-top: 20px;
}

.card-body {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.card-body p {
  font-size: 25px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.photo {
  width: 200px;
  margin: auto;
}

.card-img {
  border: solid 6px transparent;
  border-radius: 50%;
  width: 200px;
}
